.mod-about{
    padding: 104px 15px;
    margin:auto;
    text-align: center;
    min-height: 609px;
    background-size: cover;
}
.about-container{
    max-width:1222px;
    background-color: $F;
    margin: 0 auto;
    min-height: 404px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    p{
        font-size: 30px;
    }
}
.title-about{
    color:$C8;
    font-size: 45px;
    font-weight: bold;
}
.button-about{
    background: $C8;
    color: $white;
    border-radius: 50px;
    border-color: $C8;
    padding:1px 15px;
    font-size: 26px;
}