.mod-info-product{
    color: $BM;
    margin: 0 0 120px 0;
}
.info{
    margin:0 0 40px 0;
}
.title-info{
        font-size: 19px;
        font-weight: none;
    }
.content-info{
    background-color: $F;
    box-shadow:0 3px 6px rgba($B, .16);
    max-width: 100%;
    min-height: 250px;
    padding:20px 15px 0 15px;
}