.mod-new{
    display: flex;
    justify-content: center;
    padding: 60px;
}
.new-container{
    max-width: 1500px;
    margin:0 auto;
}
.title-new{
    color: $BM;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin-bottom:30px;
}
.new-title-content {
    color: $BM;
    font-weight: 700;
    font-size: 23px;
    margin-top:10px;
    margin-bottom:20px;
}