.news-item_img {
    padding-bottom: 62.7%;
    border: 1px solid $BM;
    background-size: cover;
    background-position: center center;
    margin-bottom: 20px;
}

.news-item_title {
    margin-bottom: 20px;
    font-size: 26px;
    color: $primary_color;
    font-weight: 700;
    text-transform: capitalize;
}

.news-item_content {
    color: $primary_color;
    margin-bottom: 15px;
}

.news-item {
    margin-bottom: 40px;
}

.news-sidebar_title {
    font-size: 23px;
    font-weight: 700;
}

.news-search_input {
    border: 1px solid $BM;
    border-radius: 4px;
    height: 50px;
    padding: 10px;
    width: 100%;
}

.news-search {
    margin-bottom: 25px;
}

.news-category {
    margin-bottom: 25px;
    ul {
        list-style: none;
        padding-left: 30px;
    }
}

.news-sidebar {
    color: $grey;
    margin-bottom: 60px;
}

.news-new-item {
    display: flex;
    position: relative;
    margin-bottom: 15px;
}

.news-new-item_img {
    width: 92px;
    height: 76px;
    flex: 0 0 92px;
    background-size: cover;
    background-position: center center;
}

.news-new-item_title {
    flex: 0 0 calc(100% - 92px);
    max-width: calc(100% - 92px);
    padding-left: 15px;
}

.news-pagination {
    ul {
        list-style: none;
        padding: 0;
        text-align: center;
    }
    li {
        display: inline-block;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
    a {
        padding: 6px 14px;
        font-size: 19px;
        border-radius: 6px;
        border: 1px solid $primary_color;
        text-decoration: none;
        transition: all .4s ease-in-out;
        &.active,
        &:hover {
            border-color: $F3;
            color: $F3;
        }
    }
}   

@media only screen and (min-width: 992px) {
    .news-container {
        max-width: 1100px;
    }

    .news-item {
        margin-bottom: 90px;
    }

    .news-item_img {
        margin-bottom: 37px;
    }

    .news-item_title {
        margin-bottom: 60px;
    }

    .news-item_content {
        margin-bottom: 30px;
    }

    .news-search {
        margin-bottom: 65px;
    }

    .news-category {
        margin-bottom: 65px;
    }
}