.mod-sale {
    margin:0 auto;
    min-height: 567px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sale-container {
    max-width: 1920px;
    height: 100%;
    color: $BM;
    padding: 0 50px;
}
.sale-content {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
@media only screen and (min-width:992px){
    .sale-content {
        padding-left:150px;  
        text-align: left;


    }
}
