@font-face {
	font-family: "Albeta";
	src: url("utm-alberta-heavy.eot");
	src: url("utm-alberta-heavy.eot#iefix") format("embedded-opentype"),
	url("utm-alberta-heavy.woff") format("woff"),
	url("utm-alberta-heavy.ttf") format("truetype"),
	url("utm-alberta-heavy.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="albeta-"]:before, [class*=" albeta-"]:before,
[class^="albeta-"]:after, [class*=" albeta-"]:after {   
	font-family: Albeta;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.albeta-exclam:before {
	content: "\21";
}
.albeta-quotedbl:before {
	content: "\22";
}
.albeta-numbersign:before {
	content: "\23";
}
.albeta-dollar:before {
	content: "\24";
}
.albeta-percent:before {
	content: "\25";
}
.albeta-ampersand:before {
	content: "\26";
}
.albeta-quotesingle:before {
	content: "\27";
}
.albeta-parenleft:before {
	content: "\28";
}
.albeta-parenright:before {
	content: "\29";
}
.albeta-asterisk:before {
	content: "\2a";
}
.albeta-plus:before {
	content: "\2b";
}
.albeta-comma:before {
	content: "\2c";
}
.albeta-hyphen:before {
	content: "\2d";
}
.albeta-hyphen:before {
	content: "\2010";
}
.albeta-period:before {
	content: "\2e";
}
.albeta-slash:before {
	content: "\2f";
}
.albeta-zero:before {
	content: "\30";
}
.albeta-one:before {
	content: "\31";
}
.albeta-two:before {
	content: "\32";
}
.albeta-three:before {
	content: "\33";
}
.albeta-four:before {
	content: "\34";
}
.albeta-five:before {
	content: "\35";
}
.albeta-six:before {
	content: "\36";
}
.albeta-seven:before {
	content: "\37";
}
.albeta-eight:before {
	content: "\38";
}
.albeta-nine:before {
	content: "\39";
}
.albeta-colon:before {
	content: "\3a";
}
.albeta-semicolon:before {
	content: "\3b";
}
.albeta-less:before {
	content: "\3c";
}
.albeta-equal:before {
	content: "\3d";
}
.albeta-greater:before {
	content: "\3e";
}
.albeta-question:before {
	content: "\3f";
}
.albeta-at:before {
	content: "\40";
}
.albeta-A:before {
	content: "\41";
}
.albeta-B:before {
	content: "\42";
}
.albeta-C:before {
	content: "\43";
}
.albeta-D:before {
	content: "\44";
}
.albeta-E:before {
	content: "\45";
}
.albeta-F:before {
	content: "\46";
}
.albeta-G:before {
	content: "\47";
}
.albeta-H:before {
	content: "\48";
}
.albeta-I:before {
	content: "\49";
}
.albeta-J:before {
	content: "\4a";
}
.albeta-K:before {
	content: "\4b";
}
.albeta-L:before {
	content: "\4c";
}
.albeta-M:before {
	content: "\4d";
}
.albeta-N:before {
	content: "\4e";
}
.albeta-O:before {
	content: "\4f";
}
.albeta-P:before {
	content: "\50";
}
.albeta-Q:before {
	content: "\51";
}
.albeta-R:before {
	content: "\52";
}
.albeta-S:before {
	content: "\53";
}
.albeta-T:before {
	content: "\54";
}
.albeta-U:before {
	content: "\55";
}
.albeta-V:before {
	content: "\56";
}
.albeta-W:before {
	content: "\57";
}
.albeta-X:before {
	content: "\58";
}
.albeta-Y:before {
	content: "\59";
}
.albeta-Z:before {
	content: "\5a";
}
.albeta-bracketleft:before {
	content: "\5b";
}
.albeta-backslash:before {
	content: "\5c";
}
.albeta-bracketright:before {
	content: "\5d";
}
.albeta-asciicircum:before {
	content: "\5e";
}
.albeta-underscore:before {
	content: "\5f";
}
.albeta-grave:before {
	content: "\60";
}
.albeta-a:before {
	content: "\61";
}
.albeta-b:before {
	content: "\62";
}
.albeta-c:before {
	content: "\63";
}
.albeta-d:before {
	content: "\64";
}
.albeta-e:before {
	content: "\65";
}
.albeta-f:before {
	content: "\66";
}
.albeta-g:before {
	content: "\67";
}
.albeta-h:before {
	content: "\68";
}
.albeta-i:before {
	content: "\69";
}
.albeta-j:before {
	content: "\6a";
}
.albeta-k:before {
	content: "\6b";
}
.albeta-l:before {
	content: "\6c";
}
.albeta-m:before {
	content: "\6d";
}
.albeta-n:before {
	content: "\6e";
}
.albeta-o:before {
	content: "\6f";
}
.albeta-p:before {
	content: "\70";
}
.albeta-q:before {
	content: "\71";
}
.albeta-r:before {
	content: "\72";
}
.albeta-s:before {
	content: "\73";
}
.albeta-t:before {
	content: "\74";
}
.albeta-u:before {
	content: "\75";
}
.albeta-v:before {
	content: "\76";
}
.albeta-w:before {
	content: "\77";
}
.albeta-x:before {
	content: "\78";
}
.albeta-y:before {
	content: "\79";
}
.albeta-z:before {
	content: "\7a";
}
.albeta-braceleft:before {
	content: "\7b";
}
.albeta-bar:before {
	content: "\7c";
}
.albeta-braceright:before {
	content: "\7d";
}
.albeta-asciitilde:before {
	content: "\7e";
}
.albeta-copyright:before {
	content: "\a9";
}
.albeta-registered:before {
	content: "\ae";
}
.albeta-paragraph:before {
	content: "\b6";
}
.albeta-Agrave:before {
	content: "\c0";
}
.albeta-Aacute:before {
	content: "\c1";
}
.albeta-uni1EA2:before {
	content: "\1ea2";
}
.albeta-Atilde:before {
	content: "\c3";
}
.albeta-uni1EA0:before {
	content: "\1ea0";
}
.albeta-Acircumflex:before {
	content: "\c2";
}
.albeta-uni1EA6:before {
	content: "\1ea6";
}
.albeta-uni1EA4:before {
	content: "\1ea4";
}
.albeta-uni1EA8:before {
	content: "\1ea8";
}
.albeta-uni1EAA:before {
	content: "\1eaa";
}
.albeta-uni1EAC:before {
	content: "\1eac";
}
.albeta-Abreve:before {
	content: "\102";
}
.albeta-uni1EB0:before {
	content: "\1eb0";
}
.albeta-uni1EAE:before {
	content: "\1eae";
}
.albeta-uni1EB2:before {
	content: "\1eb2";
}
.albeta-uni1EB4:before {
	content: "\1eb4";
}
.albeta-uni1EB6:before {
	content: "\1eb6";
}
.albeta-Egrave:before {
	content: "\c8";
}
.albeta-Eacute:before {
	content: "\c9";
}
.albeta-uni1EBA:before {
	content: "\1eba";
}
.albeta-uni1EBC:before {
	content: "\1ebc";
}
.albeta-uni1EB8:before {
	content: "\1eb8";
}
.albeta-Ecircumflex:before {
	content: "\ca";
}
.albeta-uni1EC0:before {
	content: "\1ec0";
}
.albeta-uni1EBE:before {
	content: "\1ebe";
}
.albeta-uni1EC2:before {
	content: "\1ec2";
}
.albeta-uni1EC4:before {
	content: "\1ec4";
}
.albeta-uni1EC6:before {
	content: "\1ec6";
}
.albeta-Igrave:before {
	content: "\cc";
}
.albeta-Iacute:before {
	content: "\cd";
}
.albeta-uni1EC8:before {
	content: "\1ec8";
}
.albeta-Itilde:before {
	content: "\128";
}
.albeta-uni1ECA:before {
	content: "\1eca";
}
.albeta-Ograve:before {
	content: "\d2";
}
.albeta-Oacute:before {
	content: "\d3";
}
.albeta-uni1ECE:before {
	content: "\1ece";
}
.albeta-Otilde:before {
	content: "\d5";
}
.albeta-uni1ECC:before {
	content: "\1ecc";
}
.albeta-Ocircumflex:before {
	content: "\d4";
}
.albeta-uni1ED2:before {
	content: "\1ed2";
}
.albeta-uni1ED0:before {
	content: "\1ed0";
}
.albeta-uni1ED4:before {
	content: "\1ed4";
}
.albeta-uni1ED6:before {
	content: "\1ed6";
}
.albeta-uni1ED8:before {
	content: "\1ed8";
}
.albeta-Ugrave:before {
	content: "\d9";
}
.albeta-Uacute:before {
	content: "\da";
}
.albeta-uni1EE6:before {
	content: "\1ee6";
}
.albeta-Utilde:before {
	content: "\168";
}
.albeta-uni1EE4:before {
	content: "\1ee4";
}
.albeta-Uhorn:before {
	content: "\1af";
}
.albeta-uni1EEA:before {
	content: "\1eea";
}
.albeta-uni1EE8:before {
	content: "\1ee8";
}
.albeta-uni1EEC:before {
	content: "\1eec";
}
.albeta-uni1EEE:before {
	content: "\1eee";
}
.albeta-uni1EF0:before {
	content: "\1ef0";
}
.albeta-Ohorn:before {
	content: "\1a0";
}
.albeta-uni1EDC:before {
	content: "\1edc";
}
.albeta-uni1EDA:before {
	content: "\1eda";
}
.albeta-uni1EDE:before {
	content: "\1ede";
}
.albeta-uni1EE0:before {
	content: "\1ee0";
}
.albeta-uni1EE2:before {
	content: "\1ee2";
}
.albeta-Ygrave:before {
	content: "\1ef2";
}
.albeta-Yacute:before {
	content: "\dd";
}
.albeta-uni1EF6:before {
	content: "\1ef6";
}
.albeta-uni1EF8:before {
	content: "\1ef8";
}
.albeta-uni1EF4:before {
	content: "\1ef4";
}
.albeta-agrave:before {
	content: "\e0";
}
.albeta-aacute:before {
	content: "\e1";
}
.albeta-uni1EA3:before {
	content: "\1ea3";
}
.albeta-atilde:before {
	content: "\e3";
}
.albeta-uni1EA1:before {
	content: "\1ea1";
}
.albeta-acircumflex:before {
	content: "\e2";
}
.albeta-uni1EA7:before {
	content: "\1ea7";
}
.albeta-uni1EA5:before {
	content: "\1ea5";
}
.albeta-uni1EA9:before {
	content: "\1ea9";
}
.albeta-uni1EAB:before {
	content: "\1eab";
}
.albeta-uni1EAD:before {
	content: "\1ead";
}
.albeta-abreve:before {
	content: "\103";
}
.albeta-uni1EB1:before {
	content: "\1eb1";
}
.albeta-uni1EAF:before {
	content: "\1eaf";
}
.albeta-uni1EB3:before {
	content: "\1eb3";
}
.albeta-uni1EB5:before {
	content: "\1eb5";
}
.albeta-uni1EB7:before {
	content: "\1eb7";
}
.albeta-egrave:before {
	content: "\e8";
}
.albeta-eacute:before {
	content: "\e9";
}
.albeta-uni1EBB:before {
	content: "\1ebb";
}
.albeta-uni1EBD:before {
	content: "\1ebd";
}
.albeta-uni1EB9:before {
	content: "\1eb9";
}
.albeta-ecircumflex:before {
	content: "\ea";
}
.albeta-uni1EC1:before {
	content: "\1ec1";
}
.albeta-uni1EBF:before {
	content: "\1ebf";
}
.albeta-uni1EC3:before {
	content: "\1ec3";
}
.albeta-uni1EC5:before {
	content: "\1ec5";
}
.albeta-uni1EC7:before {
	content: "\1ec7";
}
.albeta-igrave:before {
	content: "\ec";
}
.albeta-iacute:before {
	content: "\ed";
}
.albeta-uni1EC9:before {
	content: "\1ec9";
}
.albeta-itilde:before {
	content: "\129";
}
.albeta-uni1ECB:before {
	content: "\1ecb";
}
.albeta-ograve:before {
	content: "\f2";
}
.albeta-oacute:before {
	content: "\f3";
}
.albeta-uni1ECF:before {
	content: "\1ecf";
}
.albeta-otilde:before {
	content: "\f5";
}
.albeta-uni1ECD:before {
	content: "\1ecd";
}
.albeta-ocircumflex:before {
	content: "\f4";
}
.albeta-uni1ED3:before {
	content: "\1ed3";
}
.albeta-uni1ED1:before {
	content: "\1ed1";
}
.albeta-uni1ED5:before {
	content: "\1ed5";
}
.albeta-uni1ED7:before {
	content: "\1ed7";
}
.albeta-uni1ED9:before {
	content: "\1ed9";
}
.albeta-glyph216:before {
	content: "\f9";
}
.albeta-glyph217:before {
	content: "\fa";
}
.albeta-uni1EE7:before {
	content: "\1ee7";
}
.albeta-utilde:before {
	content: "\169";
}
.albeta-uni1EE5:before {
	content: "\1ee5";
}
.albeta-uhorn:before {
	content: "\1b0";
}
.albeta-uni1EEB:before {
	content: "\1eeb";
}
.albeta-uni1EE9:before {
	content: "\1ee9";
}
.albeta-uni1EED:before {
	content: "\1eed";
}
.albeta-uni1EEF:before {
	content: "\1eef";
}
.albeta-uni1EF1:before {
	content: "\1ef1";
}
.albeta-ohorn:before {
	content: "\1a1";
}
.albeta-uni1EDD:before {
	content: "\1edd";
}
.albeta-uni1EDB:before {
	content: "\1edb";
}
.albeta-uni1EDF:before {
	content: "\1edf";
}
.albeta-uni1EE1:before {
	content: "\1ee1";
}
.albeta-uni1EE3:before {
	content: "\1ee3";
}
.albeta-ygrave:before {
	content: "\1ef3";
}
.albeta-glyph234:before {
	content: "\fd";
}
.albeta-uni1EF7:before {
	content: "\1ef7";
}
.albeta-uni1EF9:before {
	content: "\1ef9";
}
.albeta-uni1EF5:before {
	content: "\1ef5";
}
.albeta-Dslash:before {
	content: "\110";
}
.albeta-dcroat:before {
	content: "\111";
}
.albeta-quoteleft:before {
	content: "\2018";
}
.albeta-quoteright:before {
	content: "\2019";
}
.albeta-quotedblleft:before {
	content: "\201c";
}
.albeta-quotedblright:before {
	content: "\201d";
}
.albeta-ellipsis:before {
	content: "\2026";
}
