@font-face {
	font-family: "Sfu-eurostile";
	src: url("sfueurostilecondensed.eot");
	src: url("sfueurostilecondensed.eot#iefix") format("embedded-opentype"),
	url("sfueurostilecondensed.woff") format("woff"),
	url("sfueurostilecondensed.ttf") format("truetype"),
	url("sfueurostilecondensed.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="sfu-eurostile-"]:before, [class*=" sfu-eurostile-"]:before,
[class^="sfu-eurostile-"]:after, [class*=" sfu-eurostile-"]:after {   
	font-family: Sfu-eurostile;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.sfu-eurostile-exclam:before {
	content: "\21";
}
.sfu-eurostile-quotedbl:before {
	content: "\22";
}
.sfu-eurostile-numbersign:before {
	content: "\23";
}
.sfu-eurostile-dollar:before {
	content: "\24";
}
.sfu-eurostile-percent:before {
	content: "\25";
}
.sfu-eurostile-ampersand:before {
	content: "\26";
}
.sfu-eurostile-quotesingle:before {
	content: "\27";
}
.sfu-eurostile-parenleft:before {
	content: "\28";
}
.sfu-eurostile-parenright:before {
	content: "\29";
}
.sfu-eurostile-asterisk:before {
	content: "\2a";
}
.sfu-eurostile-plus:before {
	content: "\2b";
}
.sfu-eurostile-comma:before {
	content: "\2c";
}
.sfu-eurostile-hyphen:before {
	content: "\2d";
}
.sfu-eurostile-hyphen:before {
	content: "\2010";
}
.sfu-eurostile-period:before {
	content: "\2e";
}
.sfu-eurostile-slash:before {
	content: "\2f";
}
.sfu-eurostile-zero:before {
	content: "\30";
}
.sfu-eurostile-one:before {
	content: "\31";
}
.sfu-eurostile-two:before {
	content: "\32";
}
.sfu-eurostile-three:before {
	content: "\33";
}
.sfu-eurostile-four:before {
	content: "\34";
}
.sfu-eurostile-five:before {
	content: "\35";
}
.sfu-eurostile-six:before {
	content: "\36";
}
.sfu-eurostile-seven:before {
	content: "\37";
}
.sfu-eurostile-eight:before {
	content: "\38";
}
.sfu-eurostile-nine:before {
	content: "\39";
}
.sfu-eurostile-colon:before {
	content: "\3a";
}
.sfu-eurostile-semicolon:before {
	content: "\3b";
}
.sfu-eurostile-less:before {
	content: "\3c";
}
.sfu-eurostile-equal:before {
	content: "\3d";
}
.sfu-eurostile-greater:before {
	content: "\3e";
}
.sfu-eurostile-question:before {
	content: "\3f";
}
.sfu-eurostile-at:before {
	content: "\40";
}
.sfu-eurostile-A:before {
	content: "\41";
}
.sfu-eurostile-B:before {
	content: "\42";
}
.sfu-eurostile-C:before {
	content: "\43";
}
.sfu-eurostile-D:before {
	content: "\44";
}
.sfu-eurostile-E:before {
	content: "\45";
}
.sfu-eurostile-F:before {
	content: "\46";
}
.sfu-eurostile-G:before {
	content: "\47";
}
.sfu-eurostile-H:before {
	content: "\48";
}
.sfu-eurostile-I:before {
	content: "\49";
}
.sfu-eurostile-J:before {
	content: "\4a";
}
.sfu-eurostile-K:before {
	content: "\4b";
}
.sfu-eurostile-L:before {
	content: "\4c";
}
.sfu-eurostile-M:before {
	content: "\4d";
}
.sfu-eurostile-N:before {
	content: "\4e";
}
.sfu-eurostile-O:before {
	content: "\4f";
}
.sfu-eurostile-P:before {
	content: "\50";
}
.sfu-eurostile-Q:before {
	content: "\51";
}
.sfu-eurostile-R:before {
	content: "\52";
}
.sfu-eurostile-S:before {
	content: "\53";
}
.sfu-eurostile-T:before {
	content: "\54";
}
.sfu-eurostile-U:before {
	content: "\55";
}
.sfu-eurostile-V:before {
	content: "\56";
}
.sfu-eurostile-W:before {
	content: "\57";
}
.sfu-eurostile-X:before {
	content: "\58";
}
.sfu-eurostile-Y:before {
	content: "\59";
}
.sfu-eurostile-Z:before {
	content: "\5a";
}
.sfu-eurostile-bracketleft:before {
	content: "\5b";
}
.sfu-eurostile-backslash:before {
	content: "\5c";
}
.sfu-eurostile-bracketright:before {
	content: "\5d";
}
.sfu-eurostile-asciicircum:before {
	content: "\5e";
}
.sfu-eurostile-underscore:before {
	content: "\5f";
}
.sfu-eurostile-grave:before {
	content: "\60";
}
.sfu-eurostile-a:before {
	content: "\61";
}
.sfu-eurostile-b:before {
	content: "\62";
}
.sfu-eurostile-c:before {
	content: "\63";
}
.sfu-eurostile-d:before {
	content: "\64";
}
.sfu-eurostile-e:before {
	content: "\65";
}
.sfu-eurostile-f:before {
	content: "\66";
}
.sfu-eurostile-g:before {
	content: "\67";
}
.sfu-eurostile-h:before {
	content: "\68";
}
.sfu-eurostile-i:before {
	content: "\69";
}
.sfu-eurostile-j:before {
	content: "\6a";
}
.sfu-eurostile-k:before {
	content: "\6b";
}
.sfu-eurostile-l:before {
	content: "\6c";
}
.sfu-eurostile-m:before {
	content: "\6d";
}
.sfu-eurostile-n:before {
	content: "\6e";
}
.sfu-eurostile-o:before {
	content: "\6f";
}
.sfu-eurostile-p:before {
	content: "\70";
}
.sfu-eurostile-q:before {
	content: "\71";
}
.sfu-eurostile-r:before {
	content: "\72";
}
.sfu-eurostile-s:before {
	content: "\73";
}
.sfu-eurostile-t:before {
	content: "\74";
}
.sfu-eurostile-u:before {
	content: "\75";
}
.sfu-eurostile-v:before {
	content: "\76";
}
.sfu-eurostile-w:before {
	content: "\77";
}
.sfu-eurostile-x:before {
	content: "\78";
}
.sfu-eurostile-y:before {
	content: "\79";
}
.sfu-eurostile-z:before {
	content: "\7a";
}
.sfu-eurostile-braceleft:before {
	content: "\7b";
}
.sfu-eurostile-bar:before {
	content: "\7c";
}
.sfu-eurostile-braceright:before {
	content: "\7d";
}
.sfu-eurostile-asciitilde:before {
	content: "\7e";
}
.sfu-eurostile-dagger:before {
	content: "\2020";
}
.sfu-eurostile-cent:before {
	content: "\a2";
}
.sfu-eurostile-sterling:before {
	content: "\a3";
}
.sfu-eurostile-section:before {
	content: "\a7";
}
.sfu-eurostile-bullet:before {
	content: "\2022";
}
.sfu-eurostile-paragraph:before {
	content: "\b6";
}
.sfu-eurostile-germandbls:before {
	content: "\df";
}
.sfu-eurostile-acute:before {
	content: "\b4";
}
.sfu-eurostile-dieresis:before {
	content: "\a8";
}
.sfu-eurostile-AE:before {
	content: "\c6";
}
.sfu-eurostile-Oslash:before {
	content: "\d8";
}
.sfu-eurostile-yen:before {
	content: "\a5";
}
.sfu-eurostile-ordfeminine:before {
	content: "\aa";
}
.sfu-eurostile-ordmasculine:before {
	content: "\ba";
}
.sfu-eurostile-ae:before {
	content: "\e6";
}
.sfu-eurostile-oslash:before {
	content: "\f8";
}
.sfu-eurostile-questiondown:before {
	content: "\bf";
}
.sfu-eurostile-exclamdown:before {
	content: "\a1";
}
.sfu-eurostile-florin:before {
	content: "\192";
}
.sfu-eurostile-guillemotleft:before {
	content: "\ab";
}
.sfu-eurostile-guillemotright:before {
	content: "\bb";
}
.sfu-eurostile-ellipsis:before {
	content: "\2026";
}
.sfu-eurostile-OE:before {
	content: "\152";
}
.sfu-eurostile-oe:before {
	content: "\153";
}
.sfu-eurostile-endash:before {
	content: "\2013";
}
.sfu-eurostile-emdash:before {
	content: "\2014";
}
.sfu-eurostile-quotedblleft:before {
	content: "\201c";
}
.sfu-eurostile-quotedblright:before {
	content: "\201d";
}
.sfu-eurostile-quoteleft:before {
	content: "\2018";
}
.sfu-eurostile-quoteright:before {
	content: "\2019";
}
.sfu-eurostile-fraction:before {
	content: "\2044";
}
.sfu-eurostile-currency:before {
	content: "\a4";
}
.sfu-eurostile-guilsinglleft:before {
	content: "\2039";
}
.sfu-eurostile-guilsinglright:before {
	content: "\203a";
}
.sfu-eurostile-fi:before {
	content: "\f001";
}
.sfu-eurostile-fl:before {
	content: "\f002";
}
.sfu-eurostile-daggerdbl:before {
	content: "\2021";
}
.sfu-eurostile-quotesinglbase:before {
	content: "\201a";
}
.sfu-eurostile-quotedblbase:before {
	content: "\201e";
}
.sfu-eurostile-perthousand:before {
	content: "\2030";
}
.sfu-eurostile-dotlessi:before {
	content: "\131";
}
.sfu-eurostile-circumflex:before {
	content: "\2c6";
}
.sfu-eurostile-tilde:before {
	content: "\2dc";
}
.sfu-eurostile-macron:before {
	content: "\af";
}
.sfu-eurostile-macron:before {
	content: "\2c9";
}
.sfu-eurostile-breve:before {
	content: "\2d8";
}
.sfu-eurostile-dotaccent:before {
	content: "\2d9";
}
.sfu-eurostile-ring:before {
	content: "\2da";
}
.sfu-eurostile-cedilla:before {
	content: "\b8";
}
.sfu-eurostile-hungarumlaut:before {
	content: "\2dd";
}
.sfu-eurostile-ogonek:before {
	content: "\2db";
}
.sfu-eurostile-caron:before {
	content: "\2c7";
}
.sfu-eurostile-Lslash:before {
	content: "\141";
}
.sfu-eurostile-lslash:before {
	content: "\142";
}
.sfu-eurostile-Eth:before {
	content: "\d0";
}
.sfu-eurostile-eth:before {
	content: "\f0";
}
.sfu-eurostile-Scaron:before {
	content: "\160";
}
.sfu-eurostile-scaron:before {
	content: "\161";
}
.sfu-eurostile-Yacute:before {
	content: "\dd";
}
.sfu-eurostile-yacute:before {
	content: "\fd";
}
.sfu-eurostile-Thorn:before {
	content: "\de";
}
.sfu-eurostile-thorn:before {
	content: "\fe";
}
.sfu-eurostile-Zcaron:before {
	content: "\17d";
}
.sfu-eurostile-zcaron:before {
	content: "\17e";
}
.sfu-eurostile-onehalf:before {
	content: "\bd";
}
.sfu-eurostile-onequarter:before {
	content: "\bc";
}
.sfu-eurostile-onesuperior:before {
	content: "\b9";
}
.sfu-eurostile-threequarters:before {
	content: "\be";
}
.sfu-eurostile-threesuperior:before {
	content: "\b3";
}
.sfu-eurostile-twosuperior:before {
	content: "\b2";
}
.sfu-eurostile-brokenbar:before {
	content: "\a6";
}
.sfu-eurostile-minus:before {
	content: "\2212";
}
.sfu-eurostile-multiply:before {
	content: "\d7";
}
.sfu-eurostile-Adieresis:before {
	content: "\c4";
}
.sfu-eurostile-Aring:before {
	content: "\c5";
}
.sfu-eurostile-Ccedilla:before {
	content: "\c7";
}
.sfu-eurostile-Eacute:before {
	content: "\c9";
}
.sfu-eurostile-Ntilde:before {
	content: "\d1";
}
.sfu-eurostile-Odieresis:before {
	content: "\d6";
}
.sfu-eurostile-Udieresis:before {
	content: "\dc";
}
.sfu-eurostile-aacute:before {
	content: "\e1";
}
.sfu-eurostile-agrave:before {
	content: "\e0";
}
.sfu-eurostile-acircumflex:before {
	content: "\e2";
}
.sfu-eurostile-adieresis:before {
	content: "\e4";
}
.sfu-eurostile-atilde:before {
	content: "\e3";
}
.sfu-eurostile-aring:before {
	content: "\e5";
}
.sfu-eurostile-ccedilla:before {
	content: "\e7";
}
.sfu-eurostile-eacute:before {
	content: "\e9";
}
.sfu-eurostile-egrave:before {
	content: "\e8";
}
.sfu-eurostile-ecircumflex:before {
	content: "\ea";
}
.sfu-eurostile-edieresis:before {
	content: "\eb";
}
.sfu-eurostile-iacute:before {
	content: "\ed";
}
.sfu-eurostile-igrave:before {
	content: "\ec";
}
.sfu-eurostile-icircumflex:before {
	content: "\ee";
}
.sfu-eurostile-idieresis:before {
	content: "\ef";
}
.sfu-eurostile-ntilde:before {
	content: "\f1";
}
.sfu-eurostile-oacute:before {
	content: "\f3";
}
.sfu-eurostile-ograve:before {
	content: "\f2";
}
.sfu-eurostile-ocircumflex:before {
	content: "\f4";
}
.sfu-eurostile-odieresis:before {
	content: "\f6";
}
.sfu-eurostile-otilde:before {
	content: "\f5";
}
.sfu-eurostile-uacute:before {
	content: "\fa";
}
.sfu-eurostile-ugrave:before {
	content: "\f9";
}
.sfu-eurostile-ucircumflex:before {
	content: "\fb";
}
.sfu-eurostile-udieresis:before {
	content: "\fc";
}
.sfu-eurostile-degree:before {
	content: "\b0";
}
.sfu-eurostile-registered:before {
	content: "\ae";
}
.sfu-eurostile-copyright:before {
	content: "\a9";
}
.sfu-eurostile-trademark:before {
	content: "\2122";
}
.sfu-eurostile-plusminus:before {
	content: "\b1";
}
.sfu-eurostile-mu:before {
	content: "\b5";
}
.sfu-eurostile-mu:before {
	content: "\3bc";
}
.sfu-eurostile-logicalnot:before {
	content: "\ac";
}
.sfu-eurostile-Agrave:before {
	content: "\c0";
}
.sfu-eurostile-Atilde:before {
	content: "\c3";
}
.sfu-eurostile-Otilde:before {
	content: "\d5";
}
.sfu-eurostile-divide:before {
	content: "\f7";
}
.sfu-eurostile-ydieresis:before {
	content: "\ff";
}
.sfu-eurostile-Ydieresis:before {
	content: "\178";
}
.sfu-eurostile-Acircumflex:before {
	content: "\c2";
}
.sfu-eurostile-Ecircumflex:before {
	content: "\ca";
}
.sfu-eurostile-Aacute:before {
	content: "\c1";
}
.sfu-eurostile-Edieresis:before {
	content: "\cb";
}
.sfu-eurostile-Egrave:before {
	content: "\c8";
}
.sfu-eurostile-Iacute:before {
	content: "\cd";
}
.sfu-eurostile-Icircumflex:before {
	content: "\ce";
}
.sfu-eurostile-Idieresis:before {
	content: "\cf";
}
.sfu-eurostile-Igrave:before {
	content: "\cc";
}
.sfu-eurostile-Oacute:before {
	content: "\d3";
}
.sfu-eurostile-Ocircumflex:before {
	content: "\d4";
}
.sfu-eurostile-Ograve:before {
	content: "\d2";
}
.sfu-eurostile-Uacute:before {
	content: "\da";
}
.sfu-eurostile-Ucircumflex:before {
	content: "\db";
}
.sfu-eurostile-Ugrave:before {
	content: "\d9";
}
.sfu-eurostile-sfthyphen:before {
	content: "\ad";
}
.sfu-eurostile-Cacute:before {
	content: "\106";
}
.sfu-eurostile-cacute:before {
	content: "\107";
}
.sfu-eurostile-Ccaron:before {
	content: "\10c";
}
.sfu-eurostile-ccaron:before {
	content: "\10d";
}
.sfu-eurostile-Dslash:before {
	content: "\110";
}
.sfu-eurostile-dcroat:before {
	content: "\111";
}
.sfu-eurostile-Gbreve:before {
	content: "\11e";
}
.sfu-eurostile-gbreve:before {
	content: "\11f";
}
.sfu-eurostile-Idotaccent:before {
	content: "\130";
}
.sfu-eurostile-Scedilla:before {
	content: "\15e";
}
.sfu-eurostile-scedilla:before {
	content: "\15f";
}
.sfu-eurostile-franc:before {
	content: "\20a3";
}
.sfu-eurostile-u20AB:before {
	content: "\20ab";
}
.sfu-eurostile-SF370000:before {
	content: "\255f";
}
.sfu-eurostile-SF420000:before {
	content: "\2560";
}
.sfu-eurostile-SF190000:before {
	content: "\2561";
}
.sfu-eurostile-SF200000:before {
	content: "\2562";
}
.sfu-eurostile-SF230000:before {
	content: "\2563";
}
.sfu-eurostile-SF470000:before {
	content: "\2564";
}
.sfu-eurostile-SF480000:before {
	content: "\2565";
}
.sfu-eurostile-SF410000:before {
	content: "\2566";
}
.sfu-eurostile-SF450000:before {
	content: "\2567";
}
.sfu-eurostile-SF460000:before {
	content: "\2568";
}
.sfu-eurostile-SF400000:before {
	content: "\2569";
}
.sfu-eurostile-SF540000:before {
	content: "\256a";
}
.sfu-eurostile-SF530000:before {
	content: "\256b";
}
.sfu-eurostile-circle:before {
	content: "\25cb";
}
.sfu-eurostile-H18533:before {
	content: "\25cf";
}
.sfu-eurostile-invbullet:before {
	content: "\25d8";
}
.sfu-eurostile-invcircle:before {
	content: "\25d9";
}
.sfu-eurostile-ch270:before {
	content: "\b7";
}
.sfu-eurostile-ch270:before {
	content: "\2219";
}
.sfu-eurostile-glyph271:before {
	content: "\102";
}
.sfu-eurostile-glyph272:before {
	content: "\103";
}
.sfu-eurostile-glyph273:before {
	content: "\128";
}
.sfu-eurostile-glyph274:before {
	content: "\129";
}
.sfu-eurostile-ch903:before {
	content: "\168";
}
.sfu-eurostile-ch904:before {
	content: "\169";
}
.sfu-eurostile-glyph277:before {
	content: "\1a0";
}
.sfu-eurostile-glyph278:before {
	content: "\1a1";
}
.sfu-eurostile-glyph279:before {
	content: "\1af";
}
.sfu-eurostile-glyph280:before {
	content: "\1b0";
}
.sfu-eurostile-glyph281:before {
	content: "\1ea0";
}
.sfu-eurostile-glyph282:before {
	content: "\1ea1";
}
.sfu-eurostile-glyph283:before {
	content: "\1ea2";
}
.sfu-eurostile-glyph284:before {
	content: "\1ea3";
}
.sfu-eurostile-glyph285:before {
	content: "\1ea4";
}
.sfu-eurostile-glyph286:before {
	content: "\1ea5";
}
.sfu-eurostile-glyph287:before {
	content: "\1ea6";
}
.sfu-eurostile-glyph288:before {
	content: "\1ea7";
}
.sfu-eurostile-glyph289:before {
	content: "\1ea8";
}
.sfu-eurostile-glyph290:before {
	content: "\1ea9";
}
.sfu-eurostile-glyph291:before {
	content: "\1eaa";
}
.sfu-eurostile-glyph292:before {
	content: "\1eab";
}
.sfu-eurostile-glyph293:before {
	content: "\1eac";
}
.sfu-eurostile-glyph294:before {
	content: "\1ead";
}
.sfu-eurostile-glyph295:before {
	content: "\1eae";
}
.sfu-eurostile-glyph296:before {
	content: "\1eaf";
}
.sfu-eurostile-glyph297:before {
	content: "\1eb0";
}
.sfu-eurostile-glyph298:before {
	content: "\1eb1";
}
.sfu-eurostile-glyph299:before {
	content: "\1eb2";
}
.sfu-eurostile-glyph300:before {
	content: "\1eb3";
}
.sfu-eurostile-glyph301:before {
	content: "\1eb4";
}
.sfu-eurostile-glyph302:before {
	content: "\1eb5";
}
.sfu-eurostile-glyph303:before {
	content: "\1eb6";
}
.sfu-eurostile-glyph304:before {
	content: "\1eb7";
}
.sfu-eurostile-glyph305:before {
	content: "\1eb8";
}
.sfu-eurostile-glyph306:before {
	content: "\1eb9";
}
.sfu-eurostile-glyph307:before {
	content: "\1eba";
}
.sfu-eurostile-glyph308:before {
	content: "\1ebb";
}
.sfu-eurostile-glyph309:before {
	content: "\1ebc";
}
.sfu-eurostile-glyph310:before {
	content: "\1ebd";
}
.sfu-eurostile-glyph311:before {
	content: "\1ebe";
}
.sfu-eurostile-glyph312:before {
	content: "\1ebf";
}
.sfu-eurostile-glyph313:before {
	content: "\1ec0";
}
.sfu-eurostile-glyph314:before {
	content: "\1ec1";
}
.sfu-eurostile-glyph315:before {
	content: "\1ec2";
}
.sfu-eurostile-glyph316:before {
	content: "\1ec3";
}
.sfu-eurostile-glyph317:before {
	content: "\1ec4";
}
.sfu-eurostile-glyph318:before {
	content: "\1ec5";
}
.sfu-eurostile-glyph319:before {
	content: "\1ec6";
}
.sfu-eurostile-glyph320:before {
	content: "\1ec7";
}
.sfu-eurostile-glyph321:before {
	content: "\1ec8";
}
.sfu-eurostile-glyph322:before {
	content: "\1ec9";
}
.sfu-eurostile-glyph323:before {
	content: "\1eca";
}
.sfu-eurostile-glyph324:before {
	content: "\1ecb";
}
.sfu-eurostile-glyph325:before {
	content: "\1ecc";
}
.sfu-eurostile-glyph326:before {
	content: "\1ecd";
}
.sfu-eurostile-glyph327:before {
	content: "\1ece";
}
.sfu-eurostile-glyph328:before {
	content: "\1ecf";
}
.sfu-eurostile-glyph329:before {
	content: "\1ed0";
}
.sfu-eurostile-glyph330:before {
	content: "\1ed1";
}
.sfu-eurostile-glyph331:before {
	content: "\1ed2";
}
.sfu-eurostile-glyph332:before {
	content: "\1ed3";
}
.sfu-eurostile-glyph333:before {
	content: "\1ed4";
}
.sfu-eurostile-glyph334:before {
	content: "\1ed5";
}
.sfu-eurostile-glyph335:before {
	content: "\1ed6";
}
.sfu-eurostile-glyph336:before {
	content: "\1ed7";
}
.sfu-eurostile-glyph337:before {
	content: "\1ed8";
}
.sfu-eurostile-glyph338:before {
	content: "\1ed9";
}
.sfu-eurostile-glyph339:before {
	content: "\1eda";
}
.sfu-eurostile-glyph340:before {
	content: "\1edb";
}
.sfu-eurostile-glyph341:before {
	content: "\1edc";
}
.sfu-eurostile-glyph342:before {
	content: "\1edd";
}
.sfu-eurostile-glyph343:before {
	content: "\1ede";
}
.sfu-eurostile-glyph344:before {
	content: "\1edf";
}
.sfu-eurostile-glyph345:before {
	content: "\1ee0";
}
.sfu-eurostile-glyph346:before {
	content: "\1ee1";
}
.sfu-eurostile-glyph347:before {
	content: "\1ee2";
}
.sfu-eurostile-glyph348:before {
	content: "\1ee3";
}
.sfu-eurostile-glyph349:before {
	content: "\1ee4";
}
.sfu-eurostile-glyph350:before {
	content: "\1ee5";
}
.sfu-eurostile-glyph351:before {
	content: "\1ee6";
}
.sfu-eurostile-glyph352:before {
	content: "\1ee7";
}
.sfu-eurostile-glyph353:before {
	content: "\1ee8";
}
.sfu-eurostile-glyph354:before {
	content: "\1ee9";
}
.sfu-eurostile-glyph355:before {
	content: "\1eea";
}
.sfu-eurostile-glyph356:before {
	content: "\1eeb";
}
.sfu-eurostile-glyph357:before {
	content: "\1eec";
}
.sfu-eurostile-glyph358:before {
	content: "\1eed";
}
.sfu-eurostile-glyph359:before {
	content: "\1eee";
}
.sfu-eurostile-glyph360:before {
	content: "\1eef";
}
.sfu-eurostile-glyph361:before {
	content: "\1ef0";
}
.sfu-eurostile-glyph362:before {
	content: "\1ef1";
}
.sfu-eurostile-glyph363:before {
	content: "\1ef2";
}
.sfu-eurostile-glyph364:before {
	content: "\1ef3";
}
.sfu-eurostile-glyph365:before {
	content: "\1ef4";
}
.sfu-eurostile-glyph366:before {
	content: "\1ef5";
}
.sfu-eurostile-glyph367:before {
	content: "\1ef6";
}
.sfu-eurostile-glyph368:before {
	content: "\1ef7";
}
.sfu-eurostile-glyph369:before {
	content: "\1ef8";
}
.sfu-eurostile-glyph370:before {
	content: "\1ef9";
}
