<section class="mod-about" style="background-image:url(./img/backgr4@2x.png);">
    <div class="container">
        <div>
            <div class="title-about">GIỚI THIỆU NALEE GROUP</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque asperiores perferendis laudantium
                reiciendis officiis laboriosam maxime iusto error excepturi vel!</p>
            <div ><a href="" class="btn btn-bg btn-orange">Xem thêm</a></div>
        </div>
    </div>
</section>