<section class="mod-contact-us" style="background-image: url(./img/backgr3@2x.png)">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="address">
                    <h5>ĐỊA CHỈ LIÊN HỆ</h5>
                    <% for(var i=1 ; i < 4 ;i++) { %>
                    <div>
                        <ul>
                            <li>
                                <h5>Văn phòng</h5>
                            </li>
                            <li>26/2A Trần Quang Diệu,P.13,Q.3,HCM</li>
                            <li>Email:info@pnkmedia.vn</li>
                            <li>Phone:333-555-777</li>
                        </ul>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="col-sm">
                <h5>LIÊN HỆ VỚI CHÚNG TÔI</h5>
                <div class="contact-user">
                    <div class="contact-info">
                        <ul>
                            <li><input class="infor" type="text" placeholder="Tên"></li>
                            <li><input class="infor" placeholder="Email"></li>
                            <li><textarea class="infor-content" placeholder="Nội dung" name="" id="" cols="30" rows="10"></textarea></li>
                            <li><div><button>GỬI</button></div></li> 
                        </ul> 
                    </div> 
                </div>
            </div>
        </div>

    </div>
</section>