<section class="mod-productnew">
    <div class="container">
        <div class="row main-detail">
            <div class="col-sm-5">
                <div class="img-sp"><img class="img-responsive" src="./img/sp1@2x.png" alt=""></div>
            </div>
            <div class="col-sm-7">
                <div class="content-detail">
                    <h6>NALEE DETOX</h6>
                    <p class="mon">100.000 VND</p>
                    <div class="text-detail">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, dicta amet veniam aperiam
                            veritatis
                            laboriosam quisquam! Tenetur, asperiores illo amet iste officia aperiam necessitatibus
                            reprehenderit.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa soluta modi eaque atque maxime
                            deserunt reprehenderit, maiores ea dolores tempore voluptatem adipisci ratione
                            necessitatibus
                            quaerat tempora
                            
                            <br />
                            <br />
                            consequatur doloremque dignissimos, aperiam animi, impedit debitis quo perspiciatis aut
                            consequuntur
                            blanditiis?
                            adipisci consequuntur ducimus fugit optio dolorem aperiam vero deleniti, ex in consequatur
                            voluptatibus, quae temporibus amet nulla consectetur nisi. Vel enim dolor magni voluptas a
                        </p>
                    </div>
                    <div class="select">
                        <input class="soluong" name="soluong" type="number" id="soluong" value="1">
                        <button>Mua ngay</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row detail-small">
            <div class="col-sm-5 ">
                <div class="row">
                    <% for(var i=1 ;i < 5 ; i++) { %>
                    <div class="col-sm-3 sma">
                        <div class="img-spdetail"><a href="link"><img class="img-responsive" src="./img/sp6@2x.png" alt=""></a></div>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="col-sm-7"></div>
        </div>
    </div>
</section>