<section class="mod-ft-products">
    <div class="ft-product-container">
        <div class="title-ft-product"><h5>SẢN PHẨM NỔI BẬT</h5></div>
        <div class="row">
            <div class="pd col-sm-4">
                <div><img class="img-responsive" style="max-width: 100%;" src="./img/1@2x.png"></div>
                <h5>SẢN PHẨM TRÀ NALEE</h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum officiis, quo obcaecati harum ut repellendus?
                </p>
            </div>
            <div class="pd col-sm-4">
                <div><img class="img-responsive" style="max-width: 100%;" src="./img/2@2x.png"></div>
                <h5>SẢN PHẨM TRÀ NALEE</h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum officiis, quo obcaecati harum ut repellendus?
                </p>
            </div>
            <div class="pd col-sm-4">
                <div><img class="img-responsive" style="max-width: 100%;" src="./img/3@2x.png"></div>
                <h5>SẢN PHẨM TRÀ NALEE</h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum officiis, quo obcaecati harum ut repellendus?
                </p>
            </div>
        </div>
    </div>
</section>