<footer class="mod-footer">
    <div class="container">
        <div class="row content-footer">
            <div class="col-sm-3">
                <h6>Thông Tin Công Ty</h6>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo error consequatur beatae nostrum
                    ducimus placeat similique</p>
            </div>
            <div class="col-sm-3">
                <h6>Chi Nhánh</h6>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam vel optio ipsa quo voluptatum iure
                    asperiores vitae</p>
            </div>
            <div class="col-sm-3">
                <h6>Danh Sách Giỏ Hàng</h6>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias libero voluptatum dolorum facere,
                    sint ullam cum</p>
            </div>
            <div class="col-sm-3">
                <h6>Chính Sách</h6>
                <p>Lorem ipsum dolor sit amet amet consectetur, adipisicing elit.</p>
                <div>
                    <div class="row contact-icon">
                        <div class="col contact-icon"><a href="link"><span class="icon-twitter icon"></span></a></div>
                        <div class="col contact-icon"><a href="link"><span class="icon-facebook icon"></span></a></div>
                        <div class="col contact-icon"><a href="link"><span class="icon-instagram icon"></span></a></div>
                        <div class="col contact-icon"><a href="link"><span class="icon-youtube icon"></span></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright text-center">
            Design by PNK Media
        </div>
    </div>
</footer>