<header class="mod-header">
    <div class="container">
        <div class="header-container">
            <div class="brand">
                <a href="">
                    <img class="lazy img-responsive" data-src="./img/Logo-NaLee@2x.png">
                </a>
            </div>
            <div class="menu-ham">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu menu-pc">
                <ul class="menu__lv1">
                    <li><a href="">Trang chủ</a></li>
                    <li><a href="">Giới Thiệu</a></li>
                    <li><a href=" ">Sản Phẩm</a></li>
                    <!-- class="has-submenu" -->
                    <li ><a href="">Khuyến Mãi</a>
                        <!-- <ul class="menu__lv2">
                            <% for (let index = 0; index < 4; index++) { %>
                                <li><a href="">sub menu <%= index %></a></li>
                            <% }  %>
                        </ul> -->
                    </li>
                    <li><a href="">Thư Viện</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Liên Hệ</a></li>
                </ul>
            </div>
        </div>
        <div class="menu menu-mb">
            <div class="menu-container">
                <ul class="menu__lv1">
                        <li><a href="">Trang chủ</a></li>
                        <li><a href="">Giới Thiệu</a></li>
                        <li><a href=" ">Sản Phẩm</a></li>
                        <!-- class="has-submenu" -->
                        <li ><a href="">Khuyến Mãi</a>
                            <!-- <ul class="menu__lv2">
                                <% for (let index = 0; index < 4; index++) { %>
                                    <li><a href="">sub menu <%= index %></a></li>
                                <% }  %>
                            </ul> -->
                        </li>
                        <li><a href="">Thư Viện</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Liên Hệ</a></li>
                </ul>
                <div class="row">
                        <div class="col-sm-6">Hotline: 1800 1000</div>
                        <div class="col-sm-6"><input placeholder="SEARCH" type="text"><span>VN/EN</span></div>
                    </div>
            </div>
        </div>
    </div>
</header>