<section class="mod-info-product">
    <div class="container">
        <div class="info">
            <div class="title-info">THÔNG TIN CHI TIẾT</div>
            <div class="content-info">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum perferendis blanditiis pariatur
                    itaque cumque? Cum et vero dolores sint, veniam harum optio. Sapiente error illo quod eius culpa
                    nostrum laborum quae eum veniam commodi nulla consequuntur, quia dicta deleniti quo? Hic voluptatem,
                    enim placeat reiciendis nihil tempora a ducimus sequi culpa quae blanditiis tenetur dolorem quisquam
                    officia eligendi consequuntur aliquam.<br/>
                    <br/>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, molestiae expedita ea esse dolorum
                    tenetur vero aperiam eius pariatur error consequatur ullam vel eos quos earum nisi ipsa ex totam
                    inventore. Minima, asperiores corrupti aspernatur, quo quibusdam dolorum accusantium ut veritatis
                    ipsa eaque laboriosam et sint quasi fuga provident quisquam vel. Porro amet quas delectus, sapiente
                    repudiandae vel excepturi fugiat quod quo, ipsa illum similique dolorum earum harum dolor
                    accusantium.
                </p>
            </div>
        </div>
        <div class="describe">
            <div class="title-info">MÔ TẢ SẢN PHẨM</div>
            <div class="content-info">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum perferendis blanditiis pariatur
                    itaque cumque? Cum et vero dolores sint, veniam harum optio. Sapiente error illo quod eius culpa
                    nostrum laborum quae eum veniam commodi nulla consequuntur, quia dicta deleniti quo? Hic voluptatem,
                    enim placeat reiciendis nihil tempora a ducimus sequi culpa quae blanditiis tenetur dolorem quisquam
                    officia eligendi consequuntur aliquam.<br/>
                    <br/>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, molestiae expedita ea esse dolorum
                    tenetur vero aperiam eius pariatur error consequatur ullam vel eos quos earum nisi ipsa ex totam
                    inventore. Minima, asperiores corrupti aspernatur, quo quibusdam dolorum accusantium ut veritatis
                    ipsa eaque laboriosam et sint quasi fuga provident quisquam vel. Porro amet quas delectus, sapiente
                    repudiandae vel excepturi fugiat quod quo, ipsa illum similique dolorum earum harum dolor
                </p>
                <button>Xem thêm</button>
            </div>
        </div>
    </div>
</section>