<section class="mod-new">
    <div class="new-container">
        <div class="title-new">BẢNG TIN NALEE</div>
        <div class="row new-content">
            <div class="col-sm-4">
                <div><img style="width: 100%;" src="./img/new1@2x.png"></div>
                <div class="new-title-content">Tin tức -1</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis sint omnis reprehenderit libero pariatur error
                    alias autem sapiente? At, quis.</p>
            </div>
            <div class="col-sm-4">
                <div><img style="width: 100%;" src="./img/new2@2x.png"></div>
                <div class="new-title-content">Tin tức -1</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis sint omnis reprehenderit libero pariatur error
                    alias autem sapiente? At, quis.</p>
            </div>
            <div class="col-sm-4">
                <div><img style="width: 100%;" src="./img/new3@2x.png"></div>
                <div class="new-title-content">Tin tức -1</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis sint omnis reprehenderit libero pariatur error
                    alias autem sapiente? At, quis.</p>
            </div>
        </div>
    </div>
</section>