<section class="mod-portfolio" style="background-image: url(./img/backgr3@2x.png)">
    <div class="port-container">
        <div class="row content-port">
            <div class="col-sm-4 content-port"><img class="img-reponsive" style="max-width: 100%;"
                    src="./img/ava@2x.png"></div>
            <div class="col-sm-8 content-port">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore cumque
                tempora nostrum ex eius officia minus ipsa laboriosam tenetur? Reprehenderit iste laudantium amet nam
                necessitatibus corrupti quisquam, odio quod dolores maiores natus non beatae quae deleniti consequatur
                nostrum quidem dolorum nesciunt?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus
                magni nisi hic libero excepturi voluptate blanditiis. Animi, suscipit fuga. Culpa. Lorem ipsum dolor sit
                amet consectetur, adipisicing elit. </div>
        </div>
    </div>
</section>