<section class="mod-product-detail" style="background-image:url(./img/backgr3@2x.png) ;">
    <div class="backgr-product-detail">
        <div class="container">
            <div class="detail">
                <div class="sp-nalee">
                    <h5>SẢN PHẨM TRÀ NALEE</h5>
                    <div class="products-filter">
                        <div class="bord">
                            <h6 class="active"><a href="javacript:void(0);" data-filter=".SLIM">NALEE SLIM</a></h6>
                        </div>
                        <div></div>
                        <div class="bord">
                            <h6><a href="javacript:void(0);" data-filter=".DETOX">NALEE DETOX</a></h6>
                        </div>
                        <div></div>
                        <div class="bord">
                            <h6><a href="javacript:void(0);" data-filter=".CHOCO">NALEE CHOCO</a></h6>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row box-sp">
                        <div class="col-sm-3 sp-item SLIM"><div class="backgr-sp"><a href="link"><img class="img-responsive"
                                src="./img/sp1@2x.png"><p>Nalee Detox</p><p class="mon">100.000 VND</p></a></div></div>
                        <div class="col-sm-3 sp-item DETOX"><div class=" backgr-sp"><a href="link"><img class="img-responsive"
                                src="./img/sp2@2x.png"><p>Nalee Detox</p><p class="mon">100.000 VND</p></a></div></div>
                        <div class="col-sm-3 sp-item CHOCO"><div class=" backgr-sp"><a href="link"><img class="img-responsive"
                            src="./img/sp2@2x.png"><p>Nalee Detox</p><p class="mon">100.000 VND</p></a></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>