<section class="mod-product-detail" style="background-image:url(./img/backgr3@2x.png) ;">
    <div class="backgr-product-detail">
        <div class="container">
            <div class="detail">
                <div class="sp-nalee">
                    <h5>SẢN PHẨM TRÀ NALEE</h5>
                    <div class="">
                        <div class="bord" style="color: #8DC63F;">
                            <h6>NALEE SLIM</h6>
                        </div>
                        <div></div>
                        <div class="bord">
                            <h6>NALEE DETOX</h6>
                        </div>
                        <div></div>
                        <div class="bord">
                            <h6>NALEE CHOCO</h6>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row box-sp">
                        <div class="col-sm-3"><div class=" backgr-sp"><img class="img-responsive" style="max-width: 100%;"
                                src="./img/sp1@2x.png"></div></div>
                        <div class="col-sm-3"><div class=" backgr-sp"><img class="img-responsive" style="max-width: 100%;"
                                src="./img/sp2@2x.png"></div></div>
                        <div class="col-sm-3"><div class=" backgr-sp"><img class="img-responsive" style="max-width: 100%;"
                                src="./img/sp1@2x.png"></div></div>
                        <div class="col-sm-3"><div class=" backgr-sp"><img class="img-responsive" style="max-width: 100%;"
                                src="./img/sp2@2x.png"></div></div>
                    </div>
                    <div class="row box-sp">
                        <div class="col-sm-3"><div class=" backgr-sp"><img class="img-responsive" style="max-width: 100%;"
                                src="./img/sp3@2x.png"></div></div>
                        <div class="col-sm-3"><div class=" backgr-sp"><img class="img-responsive" style="max-width: 100%;"
                                src="./img/sp4@2x.png"></div></div>
                        <div class="col-sm-3"><div class=" backgr-sp"><img class="img-responsive" style="max-width: 100%;"
                                src="./img/sp5@2x.png"></div></div>
                        <div class="col-sm-3"><div class=" backgr-sp"><img class="img-responsive" style="max-width: 100%;"
                                src="./img/sp6@2x.png"></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>