<section class="mod-productnew">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 products">
                <div class="new-product">
                    <div>
                        <select name="spmoi" id="spmoi">
                            <option value="">Sản phẩm mới</option>
                        </select>
                    </div>
                    <div>
                        <div><img class="img-responsive" src="./img/Group38@2x.png" alt="">
                            <img class="img-responsive" src="./img/Group39@2x.png" alt=""></div>
                    </div>
                </div>
                <% for(var i=1; i < 5; i++ ) { %>
                <div class="row box-sp">
                    <div class="col">
                        
                        <div class="backgr-sp">
                            <a src="" >
                                <img src="./img/sp3@2x.png" alt="">
                                <p>Nalee Detox</p>
                                <p class="mon">100.000 VND</p>
                            </a>
                        </div>
                        
                    </div>
                    <div class="col">
                        <div class="backgr-sp"><img src="./img/sp5@2x.png" alt="">
                            <p>Nalee Detox</p>
                            <p class="mon">100.000 VND</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="backgr-sp"><img src="./img/sp4@2x.png" alt="">
                            <p>Nalee Detox</p>
                            <p class="mon">100.000 VND</p>
                        </div>
                    </div>
                </div>
                <% } %>
                <div class="pagination">1 2 </div>
            </div>
            <div class="col-sm-2 cate-product">
                <h6>MỤC LỤC 1</h6>
                <div>SẢN PHẨM 1</div>
                <div>SẢN PHẨM 2</div>
                <div>SẢN PHẨM 3</div>
                <div>SẢN PHẨM 4</div>
                <div>SẢN PHẨM 5</div>
                <h6>MỤC LỤC 2</h6>
                <div>SẢN PHẨM 1</div>
                <div>SẢN PHẨM 2</div>
                <div>SẢN PHẨM 3</div>
                <div>SẢN PHẨM 4</div>
                <div>SẢN PHẨM 5</div>
                <h6>MỤC LỤC 3</h6>
                <div>SẢN PHẨM 1</div>
                <div>SẢN PHẨM 2</div>
                <div>SẢN PHẨM 3</div>
                <div>SẢN PHẨM 4</div>
                <div>SẢN PHẨM 5</div>
            </div>
        </div>
    </div>
</section>