<section class="mod-productnew">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 products">
                <div class="new-product">
                    <div>
                        <select name="spmoi" id="spmoi">
                            <option value="">Sản phẩm mới</option>
                        </select>
                    </div>
                    <div>
                        <div><img class="img-responsive" src="./img/Group38@2x.png" alt="">
                            <img class="img-responsive" src="./img/Group39@2x.png" alt=""></div>
                    </div>
                </div>
                <% for(var i=1; i < 5; i++ ) { %>
                <div class="row box-sp">
                    <div class="col">
                        <div class="backgr-sp">
                            <a href="link">
                                <img src="./img/sp3@2x.png" alt="">
                                <p>Nalee Detox</p>
                                <p class="mon">100.000 VND</p>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="backgr-sp">
                            <a href="link">
                                <img src="./img/sp5@2x.png" alt="">
                                <p>Nalee Detox</p>
                                <p class="mon">100.000 VND</p>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="backgr-sp">
                            <a href="link">
                                <img src="./img/sp4@2x.png" alt="">
                                <p>Nalee Detox</p>
                                <p class="mon">100.000 VND</p>
                            </a>
                        </div>
                    </div>
                </div>
                <% } %>
                <div class="pagination"><a href="link">1 </a></div>
            </div>
            <div class="col-sm-2 cate-product">
                <% for(var i=1; i < 5; i++ ) { %>
                <h6>MỤC LỤC 1</h6>
                <ul>
                    <li><a href="">SẢN PHẨM 1</a></li>
                    <li><a href="">SẢN PHẨM 2</a></li>
                    <li><a href="">SẢN PHẨM 3</a></li>
                    <li><a href="">SẢN PHẨM 4</a></li>
                    <li><a href="">SẢN PHẨM 5</a></li>
                </ul>

                <% } %>
            </div>
        </div>
    </div>
</section>