<section class="mod-sale" style="background-image: url(./img/backgr2@2x.png);">
    <div class="container">
        <div class="sale-content">
            <div>Giảm 50%</div>
            <div>SẢN PHẨM TRÀ NALEE</div>
        </div>
    </div>
</section>