<section class="mod-sidebar">
    <div class="container">
        <div class="row content-sidebar">
            <div class="col-sm"><img class="img-reponsive" style="max-width:100%;" src="./img/Logo-NaLee@2x.png"></div>
            <div class="col-sm"><img class="img-reponsive" style="max-width:100%;" src="./img/Logo-NaLee@2x.png"></div>
            <div class="col-sm"><img class="img-reponsive" style="max-width:100%;" src="./img/Logo-NaLee@2x.png"></div>
            <div class="col-sm"><img class="img-reponsive" style="max-width:100%;" src="./img/Logo-NaLee@2x.png"></div>
            <div class="col-sm"><img class="img-reponsive" style="max-width:100%;" src="./img/Logo-NaLee@2x.png"></div>
        </div>
    </div>
</section>