@font-face {
	font-family: "Utm_ongdo";
	src: url("151vectordepvnutm-ong-do-gia.eot");
	src: url("151vectordepvnutm-ong-do-gia.eot#iefix") format("embedded-opentype"),
	url("151vectordepvnutm-ong-do-gia.woff") format("woff"),
	url("151vectordepvnutm-ong-do-gia.ttf") format("truetype"),
	url("151vectordepvnutm-ong-do-gia.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="utm_ongdo-"]:before, [class*=" utm_ongdo-"]:before,
[class^="utm_ongdo-"]:after, [class*=" utm_ongdo-"]:after {   
	font-family: Utm_ongdo;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.utm_ongdo-exclam:before {
	content: "\21";
}
.utm_ongdo-quotedbl:before {
	content: "\22";
}
.utm_ongdo-numbersign:before {
	content: "\23";
}
.utm_ongdo-dollar:before {
	content: "\24";
}
.utm_ongdo-percent:before {
	content: "\25";
}
.utm_ongdo-ampersand:before {
	content: "\26";
}
.utm_ongdo-quotesingle:before {
	content: "\27";
}
.utm_ongdo-parenleft:before {
	content: "\28";
}
.utm_ongdo-parenright:before {
	content: "\29";
}
.utm_ongdo-asterisk:before {
	content: "\2a";
}
.utm_ongdo-plus:before {
	content: "\2b";
}
.utm_ongdo-comma:before {
	content: "\2c";
}
.utm_ongdo-hyphen:before {
	content: "\2d";
}
.utm_ongdo-hyphen:before {
	content: "\2010";
}
.utm_ongdo-period:before {
	content: "\2e";
}
.utm_ongdo-slash:before {
	content: "\2f";
}
.utm_ongdo-zero:before {
	content: "\30";
}
.utm_ongdo-one:before {
	content: "\31";
}
.utm_ongdo-two:before {
	content: "\32";
}
.utm_ongdo-three:before {
	content: "\33";
}
.utm_ongdo-four:before {
	content: "\34";
}
.utm_ongdo-five:before {
	content: "\35";
}
.utm_ongdo-six:before {
	content: "\36";
}
.utm_ongdo-seven:before {
	content: "\37";
}
.utm_ongdo-eight:before {
	content: "\38";
}
.utm_ongdo-nine:before {
	content: "\39";
}
.utm_ongdo-colon:before {
	content: "\3a";
}
.utm_ongdo-semicolon:before {
	content: "\3b";
}
.utm_ongdo-less:before {
	content: "\3c";
}
.utm_ongdo-equal:before {
	content: "\3d";
}
.utm_ongdo-greater:before {
	content: "\3e";
}
.utm_ongdo-question:before {
	content: "\3f";
}
.utm_ongdo-at:before {
	content: "\40";
}
.utm_ongdo-A:before {
	content: "\41";
}
.utm_ongdo-B:before {
	content: "\42";
}
.utm_ongdo-C:before {
	content: "\43";
}
.utm_ongdo-D:before {
	content: "\44";
}
.utm_ongdo-E:before {
	content: "\45";
}
.utm_ongdo-F:before {
	content: "\46";
}
.utm_ongdo-G:before {
	content: "\47";
}
.utm_ongdo-H:before {
	content: "\48";
}
.utm_ongdo-I:before {
	content: "\49";
}
.utm_ongdo-J:before {
	content: "\4a";
}
.utm_ongdo-K:before {
	content: "\4b";
}
.utm_ongdo-L:before {
	content: "\4c";
}
.utm_ongdo-M:before {
	content: "\4d";
}
.utm_ongdo-N:before {
	content: "\4e";
}
.utm_ongdo-O:before {
	content: "\4f";
}
.utm_ongdo-P:before {
	content: "\50";
}
.utm_ongdo-Q:before {
	content: "\51";
}
.utm_ongdo-R:before {
	content: "\52";
}
.utm_ongdo-S:before {
	content: "\53";
}
.utm_ongdo-T:before {
	content: "\54";
}
.utm_ongdo-U:before {
	content: "\55";
}
.utm_ongdo-V:before {
	content: "\56";
}
.utm_ongdo-W:before {
	content: "\57";
}
.utm_ongdo-X:before {
	content: "\58";
}
.utm_ongdo-Y:before {
	content: "\59";
}
.utm_ongdo-Z:before {
	content: "\5a";
}
.utm_ongdo-bracketleft:before {
	content: "\5b";
}
.utm_ongdo-backslash:before {
	content: "\5c";
}
.utm_ongdo-bracketright:before {
	content: "\5d";
}
.utm_ongdo-asciicircum:before {
	content: "\5e";
}
.utm_ongdo-underscore:before {
	content: "\5f";
}
.utm_ongdo-grave:before {
	content: "\60";
}
.utm_ongdo-a:before {
	content: "\61";
}
.utm_ongdo-b:before {
	content: "\62";
}
.utm_ongdo-c:before {
	content: "\63";
}
.utm_ongdo-d:before {
	content: "\64";
}
.utm_ongdo-e:before {
	content: "\65";
}
.utm_ongdo-f:before {
	content: "\66";
}
.utm_ongdo-g:before {
	content: "\67";
}
.utm_ongdo-h:before {
	content: "\68";
}
.utm_ongdo-i:before {
	content: "\69";
}
.utm_ongdo-j:before {
	content: "\6a";
}
.utm_ongdo-k:before {
	content: "\6b";
}
.utm_ongdo-l:before {
	content: "\6c";
}
.utm_ongdo-m:before {
	content: "\6d";
}
.utm_ongdo-n:before {
	content: "\6e";
}
.utm_ongdo-o:before {
	content: "\6f";
}
.utm_ongdo-p:before {
	content: "\70";
}
.utm_ongdo-q:before {
	content: "\71";
}
.utm_ongdo-r:before {
	content: "\72";
}
.utm_ongdo-s:before {
	content: "\73";
}
.utm_ongdo-t:before {
	content: "\74";
}
.utm_ongdo-u:before {
	content: "\75";
}
.utm_ongdo-v:before {
	content: "\76";
}
.utm_ongdo-w:before {
	content: "\77";
}
.utm_ongdo-x:before {
	content: "\78";
}
.utm_ongdo-y:before {
	content: "\79";
}
.utm_ongdo-z:before {
	content: "\7a";
}
.utm_ongdo-braceleft:before {
	content: "\7b";
}
.utm_ongdo-bar:before {
	content: "\7c";
}
.utm_ongdo-braceright:before {
	content: "\7d";
}
.utm_ongdo-asciitilde:before {
	content: "\7e";
}
.utm_ongdo-paragraph:before {
	content: "\b6";
}
.utm_ongdo-Agrave:before {
	content: "\c0";
}
.utm_ongdo-Aacute:before {
	content: "\c1";
}
.utm_ongdo-uni1EA2:before {
	content: "\1ea2";
}
.utm_ongdo-Atilde:before {
	content: "\c3";
}
.utm_ongdo-uni1EA0:before {
	content: "\1ea0";
}
.utm_ongdo-Acircumflex:before {
	content: "\c2";
}
.utm_ongdo-uni1EA6:before {
	content: "\1ea6";
}
.utm_ongdo-uni1EA4:before {
	content: "\1ea4";
}
.utm_ongdo-uni1EA8:before {
	content: "\1ea8";
}
.utm_ongdo-uni1EAA:before {
	content: "\1eaa";
}
.utm_ongdo-uni1EAC:before {
	content: "\1eac";
}
.utm_ongdo-Abreve:before {
	content: "\102";
}
.utm_ongdo-uni1EB0:before {
	content: "\1eb0";
}
.utm_ongdo-uni1EAE:before {
	content: "\1eae";
}
.utm_ongdo-uni1EB2:before {
	content: "\1eb2";
}
.utm_ongdo-uni1EB4:before {
	content: "\1eb4";
}
.utm_ongdo-uni1EB6:before {
	content: "\1eb6";
}
.utm_ongdo-Egrave:before {
	content: "\c8";
}
.utm_ongdo-Eacute:before {
	content: "\c9";
}
.utm_ongdo-uni1EBA:before {
	content: "\1eba";
}
.utm_ongdo-uni1EBC:before {
	content: "\1ebc";
}
.utm_ongdo-uni1EB8:before {
	content: "\1eb8";
}
.utm_ongdo-Ecircumflex:before {
	content: "\ca";
}
.utm_ongdo-uni1EC0:before {
	content: "\1ec0";
}
.utm_ongdo-uni1EBE:before {
	content: "\1ebe";
}
.utm_ongdo-uni1EC2:before {
	content: "\1ec2";
}
.utm_ongdo-uni1EC4:before {
	content: "\1ec4";
}
.utm_ongdo-uni1EC6:before {
	content: "\1ec6";
}
.utm_ongdo-Igrave:before {
	content: "\cc";
}
.utm_ongdo-Iacute:before {
	content: "\cd";
}
.utm_ongdo-uni1EC8:before {
	content: "\1ec8";
}
.utm_ongdo-Itilde:before {
	content: "\128";
}
.utm_ongdo-uni1ECA:before {
	content: "\1eca";
}
.utm_ongdo-Ograve:before {
	content: "\d2";
}
.utm_ongdo-Oacute:before {
	content: "\d3";
}
.utm_ongdo-uni1ECE:before {
	content: "\1ece";
}
.utm_ongdo-Otilde:before {
	content: "\d5";
}
.utm_ongdo-uni1ECC:before {
	content: "\1ecc";
}
.utm_ongdo-Ocircumflex:before {
	content: "\d4";
}
.utm_ongdo-uni1ED2:before {
	content: "\1ed2";
}
.utm_ongdo-uni1ED0:before {
	content: "\1ed0";
}
.utm_ongdo-uni1ED4:before {
	content: "\1ed4";
}
.utm_ongdo-uni1ED6:before {
	content: "\1ed6";
}
.utm_ongdo-uni1ED8:before {
	content: "\1ed8";
}
.utm_ongdo-Ugrave:before {
	content: "\d9";
}
.utm_ongdo-Uacute:before {
	content: "\da";
}
.utm_ongdo-uni1EE6:before {
	content: "\1ee6";
}
.utm_ongdo-Utilde:before {
	content: "\168";
}
.utm_ongdo-uni1EE4:before {
	content: "\1ee4";
}
.utm_ongdo-Uhorn:before {
	content: "\1af";
}
.utm_ongdo-uni1EEA:before {
	content: "\1eea";
}
.utm_ongdo-uni1EE8:before {
	content: "\1ee8";
}
.utm_ongdo-uni1EEC:before {
	content: "\1eec";
}
.utm_ongdo-uni1EEE:before {
	content: "\1eee";
}
.utm_ongdo-uni1EF0:before {
	content: "\1ef0";
}
.utm_ongdo-Ohorn:before {
	content: "\1a0";
}
.utm_ongdo-uni1EDC:before {
	content: "\1edc";
}
.utm_ongdo-uni1EDA:before {
	content: "\1eda";
}
.utm_ongdo-uni1EDE:before {
	content: "\1ede";
}
.utm_ongdo-uni1EE0:before {
	content: "\1ee0";
}
.utm_ongdo-uni1EE2:before {
	content: "\1ee2";
}
.utm_ongdo-Ygrave:before {
	content: "\1ef2";
}
.utm_ongdo-Yacute:before {
	content: "\dd";
}
.utm_ongdo-uni1EF6:before {
	content: "\1ef6";
}
.utm_ongdo-uni1EF8:before {
	content: "\1ef8";
}
.utm_ongdo-uni1EF4:before {
	content: "\1ef4";
}
.utm_ongdo-agrave:before {
	content: "\e0";
}
.utm_ongdo-aacute:before {
	content: "\e1";
}
.utm_ongdo-uni1EA3:before {
	content: "\1ea3";
}
.utm_ongdo-atilde:before {
	content: "\e3";
}
.utm_ongdo-uni1EA1:before {
	content: "\1ea1";
}
.utm_ongdo-acircumflex:before {
	content: "\e2";
}
.utm_ongdo-uni1EA7:before {
	content: "\1ea7";
}
.utm_ongdo-uni1EA5:before {
	content: "\1ea5";
}
.utm_ongdo-uni1EA9:before {
	content: "\1ea9";
}
.utm_ongdo-uni1EAB:before {
	content: "\1eab";
}
.utm_ongdo-uni1EAD:before {
	content: "\1ead";
}
.utm_ongdo-abreve:before {
	content: "\103";
}
.utm_ongdo-uni1EB1:before {
	content: "\1eb1";
}
.utm_ongdo-uni1EAF:before {
	content: "\1eaf";
}
.utm_ongdo-uni1EB3:before {
	content: "\1eb3";
}
.utm_ongdo-uni1EB5:before {
	content: "\1eb5";
}
.utm_ongdo-uni1EB7:before {
	content: "\1eb7";
}
.utm_ongdo-egrave:before {
	content: "\e8";
}
.utm_ongdo-eacute:before {
	content: "\e9";
}
.utm_ongdo-uni1EBB:before {
	content: "\1ebb";
}
.utm_ongdo-uni1EBD:before {
	content: "\1ebd";
}
.utm_ongdo-uni1EB9:before {
	content: "\1eb9";
}
.utm_ongdo-ecircumflex:before {
	content: "\ea";
}
.utm_ongdo-uni1EC1:before {
	content: "\1ec1";
}
.utm_ongdo-uni1EBF:before {
	content: "\1ebf";
}
.utm_ongdo-uni1EC3:before {
	content: "\1ec3";
}
.utm_ongdo-uni1EC5:before {
	content: "\1ec5";
}
.utm_ongdo-uni1EC7:before {
	content: "\1ec7";
}
.utm_ongdo-igrave:before {
	content: "\ec";
}
.utm_ongdo-iacute:before {
	content: "\ed";
}
.utm_ongdo-uni1EC9:before {
	content: "\1ec9";
}
.utm_ongdo-itilde:before {
	content: "\129";
}
.utm_ongdo-uni1ECB:before {
	content: "\1ecb";
}
.utm_ongdo-ograve:before {
	content: "\f2";
}
.utm_ongdo-oacute:before {
	content: "\f3";
}
.utm_ongdo-uni1ECF:before {
	content: "\1ecf";
}
.utm_ongdo-otilde:before {
	content: "\f5";
}
.utm_ongdo-uni1ECD:before {
	content: "\1ecd";
}
.utm_ongdo-ocircumflex:before {
	content: "\f4";
}
.utm_ongdo-uni1ED3:before {
	content: "\1ed3";
}
.utm_ongdo-uni1ED1:before {
	content: "\1ed1";
}
.utm_ongdo-uni1ED5:before {
	content: "\1ed5";
}
.utm_ongdo-uni1ED7:before {
	content: "\1ed7";
}
.utm_ongdo-uni1ED9:before {
	content: "\1ed9";
}
.utm_ongdo-glyph216:before {
	content: "\f9";
}
.utm_ongdo-glyph217:before {
	content: "\fa";
}
.utm_ongdo-uni1EE7:before {
	content: "\1ee7";
}
.utm_ongdo-utilde:before {
	content: "\169";
}
.utm_ongdo-uni1EE5:before {
	content: "\1ee5";
}
.utm_ongdo-uhorn:before {
	content: "\1b0";
}
.utm_ongdo-uni1EEB:before {
	content: "\1eeb";
}
.utm_ongdo-uni1EE9:before {
	content: "\1ee9";
}
.utm_ongdo-uni1EED:before {
	content: "\1eed";
}
.utm_ongdo-uni1EEF:before {
	content: "\1eef";
}
.utm_ongdo-uni1EF1:before {
	content: "\1ef1";
}
.utm_ongdo-ohorn:before {
	content: "\1a1";
}
.utm_ongdo-uni1EDD:before {
	content: "\1edd";
}
.utm_ongdo-uni1EDB:before {
	content: "\1edb";
}
.utm_ongdo-uni1EDF:before {
	content: "\1edf";
}
.utm_ongdo-uni1EE1:before {
	content: "\1ee1";
}
.utm_ongdo-uni1EE3:before {
	content: "\1ee3";
}
.utm_ongdo-ygrave:before {
	content: "\1ef3";
}
.utm_ongdo-glyph234:before {
	content: "\fd";
}
.utm_ongdo-uni1EF7:before {
	content: "\1ef7";
}
.utm_ongdo-uni1EF9:before {
	content: "\1ef9";
}
.utm_ongdo-uni1EF5:before {
	content: "\1ef5";
}
.utm_ongdo-Dslash:before {
	content: "\110";
}
.utm_ongdo-dcroat:before {
	content: "\111";
}
.utm_ongdo-quoteleft:before {
	content: "\2018";
}
.utm_ongdo-quoteright:before {
	content: "\2019";
}
.utm_ongdo-quotedblleft:before {
	content: "\201c";
}
.utm_ongdo-quotedblright:before {
	content: "\201d";
}
.utm_ongdo-ellipsis:before {
	content: "\2026";
}
