
@font-face {
  font-family: 'UTMA-SGraceland';
  src: url('UTMA-SGraceland.eot?#iefix') format('embedded-opentype'),  url('UTMA-SGraceland.woff') format('woff'), url('UTMA-SGraceland.ttf')  format('truetype'), url('UTMA-SGraceland.svg#UTMA&SGraceland') format('svg');
  font-weight: normal;
  font-style: normal;
}
